@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@600&family=Roboto+Mono:wght@200&display=swap');

*{
    margin: 0;
}

body{
    background-color: rgb(82, 120, 247);
    background-image: url("../img/vecteezy_vivid-liquify-texture-colorful-wallpaper-abstract-background_7484665_247.jpg");
}
.containerCad{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color:#aec5f0;
    border-radius: 50px 10px 50px;
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Roboto Mono', monospace;
}

.containerCad{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
}

#title{
    margin: 8% 17%;
    margin-bottom: 12%;
    width: 400px;
    font-weight: 600;
    font-size: 35px;
}

.input,.senha{
    margin: 3% 10%;
    width: 440px; 
    display: inline-block;  
    font-weight: 600;
}

#email, #senha{
    width: 230px;
    border-radius: 15px;
}

.button{
    margin: 30px 57px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#botao{
    width: 80%;
    height: 50px;
    border-radius: 50px
}

#cadastro{
    color: black;
    font-size: medium;
    text-decoration: none;
    text-decoration: underline;
}

#cadastro:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
}